body{
     background-color:#2a2730;
}

.padd{
    padding-left: 3px;
}

.no-padding{
    padding: 0;
}

a[data-toggle="collapse"]{
    text-decoration: none;
}

.blocos{
    margin-bottom: 10px;
}

.painel-de-controle{
    display: -webkit-inline-box;
    padding: 3px;
    background-color: #2a2730;
    border: 1px solid black;
    border-radius: 4px;
}

p[data-animar-ordem] span, .fmenor{
    font-size: 10px;
}

p[data-animar-ordem] b{
    font-size: 16px;
    color: darkred;
}

p[data-animar-ordem]{
    color: black;
    font-weight: bold;    
    transition: 0.1s;
    font-size: 14px;
    /*overflow: hidden;*/
}

p[data-animar-ordem]:hover{
    color: red;
    font-size:16px;
    /*font-style: italic;*/
}

div[data-animar-group]{
    padding: 10px;
    margin: 3px;
    border-radius: 4px;
    background-color: #dedddd;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

ul.numeric{
    list-style: decimal;
    text-align: left;
}
.espaco{
    width: 100%;
    height: 30px;
}
.espaco span{
    margin: 4px auto;
    width:20%;
    height:1px;
    border-top:1px solid black;
    border-radius: 4px;
}

.jumbotron{
    padding: 10px;
}

.tleft{
    text-align: left;
}
.tright{
    text-align: right;
}

.tdivider{
    width: 20px;
    height: 1px;
    background-color: transparent;
    display: inline-flex;
}